/* סגנון לסרגל */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

#username {
    margin-right: auto;
    margin-left: 10px;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

/* #navbar {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: right;
} */

#navbar span {
    margin-right: 10px;
}
